@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
  font-family: 'galmuri7';
  font-weight: 500;
  src: url('/fonts/Galmuri7.ttf') format('truetype');
}
@font-face {
  font-family: 'galmuri9';
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  src: url('/fonts/Galmuri9.ttf') format('truetype');
}
@font-face {
  font-family: 'galmuri11';
  font-weight: 500;
  src: url('/fonts/Galmuri11.ttf') format('truetype');
}
@font-face {
  font-family: 'galmuri11';
  font-weight: 800;
  src: url('/fonts/Galmuri11-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Miraero';
  font-weight: 500;
  src: url('/fonts/MiraeroNormal.ttf') format('truetype');
}
.font-pixel-sm {
  font-family: 'galmuri7', monospace;
}
.font-pixel {
  font-family: 'Miraero', sans-serif;
}
.font-pixel-lg {
  font-family: 'galmuri11', monospace;
}
